<mat-toolbar color="primary">
    <span class="menu-spacer">
        <div>
            <a mat-button (click)="selectTab(0)">Maszyny</a>
            <a mat-button (click)="selectTab(1)">Rodzaje maszyn</a>
            <a mat-button (click)="selectTab(2)">Wnioski</a>
            <a mat-button (click)="selectTab(3)">Definicje zadań przeglądowych</a>
            <a mat-button (click)="selectTab(4)">Zadania przeglądowe</a>
        </div>
    </span>
</mat-toolbar>

<div class="role-content">
    <div *ngIf="selectedTab === 'machines'">
        <app-machines></app-machines>
    </div>
    <div *ngIf="selectedTab === 'machine-types'">
        <app-machine-types></app-machine-types>
    </div>
    <div *ngIf="selectedTab === 'applications'">
        <app-applications></app-applications>
    </div>
    <div *ngIf="selectedTab === 'definitions'">
        <app-definitions></app-definitions>
    </div>
    <div *ngIf="selectedTab === 'inspections'">
        <app-inspections></app-inspections>
    </div>
</div>
