<mat-toolbar color="primary">
    <span class="menu-spacer">
        <div>
            <a mat-button (click)="selectTab(0)">Zlecenia definicji zadań przeglądowych</a>
            <a mat-button (click)="selectTab(1)">Zlecenia przeglądów</a>
        </div>
    </span>
</mat-toolbar>

<div class="role-content">
    <div *ngIf="selectedTab === 'definition-tasks'">
        <table mat-table [dataSource]="definitionTasksDataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="IdZlecenieDefinicji">
                <th mat-header-cell *matHeaderCellDef>Numer zlecenia</th>
                <td mat-cell *matCellDef="let element">{{element.IdZlecenieDefinicji}}</td>
            </ng-container>
        
            <ng-container matColumnDef="RodzajMaszyny">
                <th mat-header-cell *matHeaderCellDef>Rodzaj maszyny</th>
                <td mat-cell *matCellDef="let element">{{element.IdRodzajMaszyny | machineTypeName:machineTypes}}</td>
            </ng-container>
        
            <ng-container matColumnDef="Data">
                <th mat-header-cell *matHeaderCellDef>Data utworzenia zlecenia</th>
                <td mat-cell *matCellDef="let element">{{element.Data}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="definitionTasksDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: definitionTasksDisplayedColumns;"></tr>
        </table>
    </div>

    <div *ngIf="selectedTab === 'inspection-tasks'">
        <table mat-table [dataSource]="inspectionTasksDataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="IdZleceniePrzegladu">
                <th mat-header-cell *matHeaderCellDef>Numer zlecenia</th>
                <td mat-cell *matCellDef="let element">{{element.IdZleceniePrzegladu}}</td>
            </ng-container>
        
            <ng-container matColumnDef="Rejestracja">
                <th mat-header-cell *matHeaderCellDef>Rejestracja maszyny</th>
                <td mat-cell *matCellDef="let element">{{element.IdMaszyna | machineName:machines}}</td>
            </ng-container>
        
            <ng-container matColumnDef="Data">
                <th mat-header-cell *matHeaderCellDef>Data utworzenia zlecenia</th>
                <td mat-cell *matCellDef="let element">{{element.Data}}</td>
            </ng-container>

            <ng-container matColumnDef="Dokument">
                <th mat-header-cell *matHeaderCellDef>Dokument przeglądu do wypełnienia</th>
                <td mat-cell *matCellDef="let element">{{element.Dokument}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="inspectionTasksDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: inspectionTasksDisplayedColumns;"></tr>
        </table>
    </div>
</div>
